* {
    padding: 0;
}

body {
    box-sizing: border-box;
    margin: 0;
}

header {
    background-image: url("images/times-square.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 343px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main {
    height: 378px;
}


.main-header {
    width: 300px;
    margin-top: 0;
    background-color: #1D3557;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 32px;
}

.sub-header {
    margin-top: 0;
    padding: 10px 15px;
    background-color: #457B9D;
    font-size: 20.72px;
    border-radius: 10px;
}
.main-header, .sub-header {
    color: #fff;
}

main {
    text-align: center;
    background-color: #F1FAEE;
    padding: 39px 0;
}

h2 {
    margin: 0 auto 54px;
    width: 500px;
}

.activity-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 30%;
}
.article-wrap {
    display: flex;
    justify-content: space-around;
}

footer {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.guide-box {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin: 30px auto;
    padding: 20px 40px;
    background-color: #A8DADC;
    align-items: center;
    border-radius: 20px;
    border-bottom: 6px solid #1D3557;
    color: #1D3557;
    font-family: 'Arial';
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
}

.guide-description {
    margin-left: 10px;
}